{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <title>{% block title %}{% endblock %}srvup Project</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style>

    body {
      min-height: 2000px;
    }

    .navbar-static-top {
      margin-bottom: 19px;
    }

    {% block style %}

    {% endblock %}
    </style>

  {% include 'extra_head_info.html' %}

  </head>

  <body>

  {% include 'navbar.html' %}
  <div class="container">
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
    {% endfor %}


    {% block jumbotron %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </div>
    {% include 'javascript.html' %}

    <script type="text/javascript">
      $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
      });
    </script>

    <script>
      $(document).ready(function(){
        $('.notification-toggle').click(function(e){
          e.preventDefault();
          $.ajax({
            type:"POST",
            url:"{% url 'notification_ajax' %}",
            data:{
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success:function(data){
              var count = data.count;
              console.log(count);
              $("#notification-dropdown").html(' <li role="presentation" class="dropdown-header">Notifications</li>');
                if (count == 0){
                  var newLink = "{% url 'notification_all' %}"
                  $('#notification-dropdown').append( '<li><a href="'+ newLink +'">View all Notifications</a></li>');
                }else{
                  $(data.notifications).each(function(){
                    var link = this
                    $('#notification-dropdown').append( '<li>' + link  + '</li>');
                  })
                }
            },

            error:function(rs,e){
              console.log(rs);
              console.log(e);
            },
          })   
        })
      })
    </script>


  </body>
</html>