{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
<script type="text/javascript">
{% block jquery %}


function window_resize (){
    var parent_id = $('iframe').parent().attr('id');

    if (parent_id == 'main_vid'){
        var parent_width = $('iframe').parent().width();
        var width = $('iframe').css('width');
        var height = $('iframe').css('height');
        var ratio = parseInt(height)/parseInt(width);
        $('iframe').css('width', parent_width);
        $('iframe').css('height', parseInt(parent_width)*ratio);
        // console.log(ratio);
        // console.log(parent_width);
    };


};

window_resize();
$(window).bind("resize", function(){
    //alert("resize");
    window_resize();
});



$('.reply_link').click(function(e){
    e.preventDefault();
    var reply_comment = $(this).next().next('.reply_comment')
    if (reply_comment.length){ 
        reply_comment.fadeToggle("slow");
        // console.log(reply_comment.length);
    };

});

$("#like").click(function(e) {
    e.preventDefault();
    $(this).fadeToggle(1000);
    var vid ;
    vid = $(this).attr("data-vid");
    $.get('/ajax/likes/', {video_id: vid}, function(data){
        // console.log(data);
        $("#like_count").html(data + " Likes");
    })
    
});

{% endblock %}
</script>


{% block content %}

<h3>{{object.title}}</h3>
<div class="col-sm-10" id="main_vid">
{{ object.embed_code|safe }}
</div>

{% if object.tags.all %}
<div class="col-sm-6">

    <ul class="fa fa-tags" aria-hidden="true">
    {% for tag in object.tags.all %}
    {{ tag }}
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="col-sm-6">
{% if object.get_next_vid %}
<a href="{{object.get_next_vid}}"><button type="button" class="btn btn-primary">Next</button></a>
{% endif %}
{% if object.get_previous_vid %}
<a href="{{object.get_previous_vid}}"><button type="button" class="btn btn-primary">Previous</button></a>
{% endif %}
</div>

<br/>
<div><p>If you like this video share with your friends </p>

<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ object.get_full_url }}"><i class="fa fa-facebook-square fa-3x"></i></a>

<a target='_blank' href="https://twitter.com/home?status={{ object.get_share_message|safe }}">
<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
</a>
</div>

<hr/>
<div>
    <strong id="like_count">{{object.likes}} Likes</strong>
    {% if user.is_authenticated and not voted %}
    <button id="like" data-vid="{{object.id}}" class="fa fa-thumbs-up" aria-hidden="true" type="button"></button>
    {% endif %}
</div>

  {% if comment_form  %}

<div class="row">
  <div class="col-sm-12">
      <form method="post" action="{% url 'comment_create' %}">{% csrf_token %}
        <input type="hidden" name="video_id" value="{{ object.id }}"/>
        <input type="hidden" name="origin_path" value="{{ object.get_absolute_url }}"/>
        {% crispy comment_form %}
      </form>
  </div>
  <div class="col-sm-12">
    <h3>Comments and questions</h3>
    <table class="table">
    {% for comment in comments %} {% comment %} this is parent comment {% endcomment %}
    <tr><td>{{ comment.get_comment }} 
    <small> via {{ comment.author }} | {{ comment.timestamp|naturaltime  }} ago </small>
        {% if not comment.is_child %}
            <ul>
            {% for child in  comment.get_children %}
            <li>{{ child.get_comment }}
            <small> via {{ child.author }} | {{ child.timestamp|naturaltime }} ago </small>
            </li>
            {% endfor %}
            </ul>
            
        <a href="#" class="reply_link">Reply</a> | <a href="{{ comment.get_absolute_url }}" class="view_thread">View Thread</a> 
        <div class="reply_comment" style="display:none;">
            <form method="POST" action="{% url 'comment_create' %}">{% csrf_token %}
                <input type="hidden" name="parent_id" value="{{comment.id}}" />
                <input type="hidden" name="video_id" value="{{comment.video.id}}"/>
                <input type="hidden" name="origin_path" value="{{comment.get_origin }}"/>
                {% crispy comment_form  %}
            </form>
        </div>
        {% endif %}    

    </td></tr>

    {% endfor %}
    </table>
  </div>
{% endif %}

</div>
{% endblock %}