{% extends 'base.html' %}

<script type="text/javascript">
{% block jquery %}


function window_resize (){
    var parent_id = $('iframe').parent().attr('id');

    if (parent_id == 'main_vid'){
        var parent_width = $('iframe').parent().width();
        var width = $('iframe').css('width');
        var height = $('iframe').css('height');
        var ratio = parseInt(height)/parseInt(width);
        $('iframe').css('width', parent_width);
        $('iframe').css('height', parseInt(parent_width)*ratio);
        // console.log(ratio);
        // console.log(parent_width);
    };


};

window_resize();
$(window).bind("resize", function(){
    //alert("resize");
    window_resize();
});



$('.reply_link').click(function(e){
    e.preventDefault();
    var reply_comment = $(this).next().next('.reply_comment')
    if (reply_comment.length){ 
        reply_comment.fadeToggle("slow");
        // console.log(reply_comment.length);
    };

});


{% endblock %}
</script>


{% block content %}

<h3>{{object.title}}</h3>
<div class="col-sm-10" id="main_vid">
{{ object.embed_code|safe }}
</div>
<br/>

<p>If you like this video share with your friends </p>

<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ object.get_full_url }}"><i class="fa fa-facebook-square fa-3x"></i></a>

<a target='_blank' href="https://twitter.com/home?status={{ object.get_share_message|safe }}">
<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
</a>

<br/>
<hr/>
<div class="row">
  <div class="col-sm-12">
      <form method="post" action="{% url 'comment_create' %}">{% csrf_token %}
          {{ comment_form.as_p }}
      <input type="hidden" name="video_id" value="{{ object.id }}"/>
      <input type="hidden" name="origin_path" value="{{ object.get_absolute_url }}">
      <input class="btn btn-primary" type="submit" value="comment"/>
      </form>
  </div>
  <div class="col-sm-12">
    <h3>Comments and questions</h3>
    <table class="table">
    {% for comment in comments %} {% comment %} this is parent comment {% endcomment %}
    <tr><td>{{ comment.get_comment }} 
    <small> via {{ comment.author }} | {{ comment.timestamp | timesince }} ago </small>
        {% if not comment.is_child %}
            <ul>
            {% for child in  comment.get_children %}
            <li>{{ child.get_comment }}
            <small> via {{ child.author }} | {{ child.timestamp | timesince }} ago </small>
            </li>
            {% endfor %}
            </ul>
            
        <a href="#" class="reply_link">Reply</a> | <a href="{{ comment.get_absolute_url }}" class="view_thread">View Thread</a> 
        <div class="reply_comment" style="display:none;">
            <form method="POST" action="{% url 'comment_create' %}">{% csrf_token %}
            {{ comment_form.as_p }}
            <input type="hidden" name="parent_id" value="{{comment.id}}" />
            <input type="hidden" name="video_id" value="{{comment.video.id}}"/>
            <input type="hidden" name="origin_path" value="{{comment.get_origin }}"/>
            <input class="btn btn-default" type="submit" value="reply" />
            </form>
        </div>
        {% endif %}    

    </td></tr>

    {% endfor %}
    </table>
  </div>


</div>
{% endblock %}