{% extends 'base.html' %}

<script>
{% block jquery %}


function window_resize (){
    var parent_id = $('iframe').parent().attr('id');

    if (parent_id == 'main_vid'){
        var parent_width = $('iframe').parent().width();
        var width = $('iframe').css('width');
        var height = $('iframe').css('height');
        var ratio = parseInt(height)/parseInt(width);
        $('iframe').css('width', parent_width);
        $('iframe').css('height', parseInt(parent_width)*ratio);
        // console.log(ratio);
        // console.log(parent_width);
    };


};

window_resize();
$(window).bind("resize", function(){
    //alert("resize");
    window_resize();
});
{% endblock %}
</script>


{% block content %}

<h3>{{object.title}}</h3>
<div class="col-sm-10" id="main_vid">
{{ object.embed_code|safe }}
</div>
<br/>
<p>If you like this video share with your friends </p>

<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ object.get_full_url }}"><i class="fa fa-facebook-square fa-3x"></i></a>

<a target='_blank' href="https://twitter.com/home?status={{ object.get_share_message|safe }}">
<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
</a>

{% endblock %}