{% extends 'base.html' %}

{%  block  content%}

<div class="panel panel-default">
    <div class="panel-heading">All notificaitons</div>
    <table class="table">
        <tr>
        <th>Recipient</th>
        <th>Comment</th>
        <th>Read</th>
        </tr>
    {% comment %}
        {% for note in objects %}
        <tr>
        <td>{{note.recipient}}</td>
        <td>{{note|safe}}</td>
        <td>{{note.read}}</td>
        </tr>
        {% endfor %}
    {% endcomment %}
        {% for lst in url_lst %}
        <tr>
            {% for i in lst %}
            <td>{{ i|safe }}</td>
            {% endfor %}
        <tr>
        {% endfor %}
    </table>

{% endblock %}
