{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<a href="{{ comment.get_origin }}">Go back?</a>
<div class="col-sm-12">
    <h3>Comments and questions</h3>
    <table class="table">
    <tr><td>{{ comment.get_comment }} 
    <small> via {{ comment.author }} | {{ comment.timestamp | timesince }} ago </small>
        {% if not comment.is_child %}
            <ul>
            {% for child in  comment.get_children %}
            <li>{{ child.get_comment }}
            <small> via {{ child.author }} | {{ child.timestamp | timesince }} ago </small>
            </li>
            {% endfor %}
            </ul>
            
            <form method="POST" action="{% url 'comment_create' %}">{% csrf_token %}
            <input type="hidden" name="parent_id" value="{{comment.id}}" />
            <input type="hidden" name="origin_path" value="{{ comment.get_absolute_url }}" />
            {% crispy form %}
            </form>
        </div>
        {% endif %}    

    </td></tr>

    </table>
  </div>

{% endblock %}